footer{
    margin-top: 130px;
    background-color: $color_dominante;

}

footer ul{
    padding: 30px;
}

footer li{
    margin: 10px;
    list-style: none;
}

footer a{
    color: $color_blanco;
    font-size: 24px;
}

footer p{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}